<% if flash[:not_found] %>
  <div class="alert alert-warning">
    <strong><%= flash[:not_found] %></strong>
  </div>
<% end %>
<%= form_for :client, url: clients_search_path do |f| %>
  <%= f.label :client_number, "Numero de Cliente" %>:
  <%= f.text_field :client_number, class: 'form-control' %><br />
  <%= f.submit "Buscar", class:'btn btn-primary' %>
<% end %>
