<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-5  toppad  pull-left col-md-offset-3 ">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
          <% if flash[:invalid] %>
            <div class="alert alert-warning">
              <strong>Campos invalidos</strong>
            </div>
          <% end %>
          <%= form_for :balance, url: client_balances_path do |f| %>
            <div class="input-group form-control">            
            <%= fields_for :balance_information do |balance_information_form| %>
              <%= balance_information_form.label :amount, "Cantidad", class:'form-control' %> 
              <%= balance_information_form.text_field :amount, class:'form-control'%>
            </div>
             <div class="input-group form-control"> 
              <%= balance_information_form.label :note_number, "Nota de venta", class: 'form-control' %>
              <%= balance_information_form.text_field :note_number, class:'form-control'%>
            <% end %>
            </div>
             <div class="input-group-addon form-control">                       
            <table class="table table-responsive">    
            <%= fields_for :vendor do |vendor_form| %>
              <%= vendor_form.label :vendor, "Vendedor", class:'form-control' %>              
            <%= vendor_form.select :vendor,@vendors.collect {|v| [ v.name, v.id ] }, class:'form-control' %>
              </div>
            <% end %>
            <div class="input-group form-control">
            <%= fields_for :percent_catalog do |percent_catalog_form| %>
            <br>  <%= percent_catalog_form.label :percent, "Porcentaje" %> </br>
              <%= percent_catalog_form.select :percent, @percent_catalogs.collect {|p| [ p.percent, p.id ] }, class:'form-control' %>
            <% end %>
           <br> <%= f.submit "Agregar puntos", class:'btn btn-primary'%> </br>
          <% end %>
                </table>
                </div>
        </div>
      </div>
    </div>
  </div>
</div>
    </div>
